<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/controller.js"></script>
</head>
<body ng-app ng-controller="controller">

    <H1>Shopping list</H1>
    <form ng-submit="submit(message)" class="form-inline">
        <input type="text" ng-model="message" autofocus>
        <button class="btn">Add</button>
    </form>

    <div id="list" >
        <ul ng-repeat="element in list">
            <li>{{element}}</li>
        </ul>
    </div>
</body>
</html>